<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2021</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">Government Engineering College
               </h4>
               <ul>
                <li> Government Engineering College in Haveri </li>
                    <li>Completed B.E in Computer Science and Engineering with <b>7 CGPA</b>.</li>
                 <!-- <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li>
                 <li>Maintained above <b>9.1 spi</b> in every semester of college academic .</li> -->
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 - 2017</p>
              <div class="h5">PUC</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">PUC</div>
               <h4 class="category">Morarji Desai Residential College
               </h4>
               <ul>
                <li>
                  I have completed my Pre-University College (PUC) education with a specialization in Computer Science. </li>
                                  <li>
                                     There was also a good base on HTML ,CSS & Web Development .
                                  </li>
                                  <li>
                                      Completed my PUC with<b> 70%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2014 - 2015</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Morarji Desai Residential School
               </h4>
               <ul>
                <!-- <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and Languages.
                </li> -->
               
                <li>
                    Completed my Secondary school with <b>84%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>